/* Website template by freewebsitetemplates.com */
/*------------------------- Layout styles ------------------------*/ 
body{
	margin:0;
	background-color:#f3f3f8;
	background:url(../images/Food_sweets_9463.jpg) fixed right top;
}

.page{
	background-color:#f3f3f8;
	opacity: 0.8;
}

/*------------------------- Header ------------------------*/ 
.header{
	width:600px;
	margin-left:300px;
	height:105px;
	padding:36px 10px 0;
}
.header a#logo{
	display:block;
	float:left;
	outline:none;
}
.header a#logo img{
	border:0;
}
.header ul{
	margin:0;
	list-style:none;
	padding:13px 0 0;
	float:right;
}
.header ul li{
	float:left;
	margin:0 0 0 63px;
}
.header ul li.selected a,.header ul li a:hover{
	color:#186fff;
}
.header ul li a{
	font-size:16px;
	text-decoration:none;
	color:#5e5e5e;
	font-family: 'RokkittRegular';
	outline:none;
}

/*------------------------- Body ------------------------*/ 
.body{
	width:500px;
	margin-left:300px;
	padding:0 10px;
	overflow:hidden;
}
.body div#featured{
	
	padding:0 0 17px;
	border-bottom:1px solid #f3ffff;
}
.body div#featured h3{
	color:#186fff;
	font-size:36px;
	font-family: 'RokkittRegular';
	margin:0 0 30px;
	width:490px;
	padding:100px 0 0;
	font-weight:normal;
}
.body div#featured p{
	width:480px;
	color:#5d5d5d;
	font-family: 'RokkittRegular';
	font-size:16px;
	line-height:25px;
	text-shadow: 0 1px 0 #fcfcfc;
	text-align:justify;
	margin:0;
}
.body div#featured input{
	
	border:0;
    height:48px;
    width:216px;
	font-family: 'RokkittRegular';
	color:#fff;
	font-size:30px;
	margin:28px 0 0 125px;
	cursor:pointer;
	outline:none;
}
.body ul.blog{
	list-style:none;
	margin:40px 0 0;
	padding:0 0 50px;
	
	overflow:hidden;
}
.body ul.blog li{
	border-bottom:1px solid #f3ffff;
	border-to:1px solid #f3f3f3;
	padding:10px;
	display:block;
	width:600px;
}
.body ul.blog li div{
	width:500px;
	text-align:center;
	padding: 8px 0 20px 0;
	float:none;
	margin:0;
	background:none;
}
.body ul.blog li div a img{
	width:150px;
	border:0;
	float:left;
}
.body ul.blog li div a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body ul.blog li div p{
	text-align:justify;
	color:#828081;
	font-family: 'RokkittRegular';
	line-height:20px;
	font-size:14px;
	background:none;
	float:right;
	width:300px;
}
.body ul.blog li div a:first-child{
	margin:0;
	padding:0;
	background:none;
	width:auto;
}
.body ul.blog li div a:hover{
	color:#F78117;
}
.body ul.blog li div a{
	color:#606060;
	font-family: 'RokkittRegular';
	font-style:italic;
	text-decoration:none;
	display:block;
	width: 150px;
	outline:none;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 0 #fcfcfc;
}
.body h3{
	font-family: 'RokkittRegular';
	font-size:16px;
	font-weight:bold;
	color:#636363;
	margin:15px 0 0;
	line-height:21px;
}
.body p{
	font-family: 'RokkittRegular';
	font-size:16px;
	text-align:justify;
	color:#636363;
	margin:0 0 20px;
	line-height:21px;
}
.body p a{
	outline:none;
	color:#636363;
}
.body ul{
	list-style:none;
    margin:0;
    padding:0;
	overflow:hidden;
}
.body ul li:first-child{
	background:none;
	padding:0 0 30px;
}
.body ul li{
	overflow:hidden;
	padding:30px 0;
}
.body ul li div.featured{
	width:281px;
	height:292px;
	text-align: center;
	margin:0;
}
.body ul li div.featured img{
	margin:10px 0 0 -3px;
	border:0;
}
.body ul li div.featured ul{
	overflow:hidden;
	margin:2px 0 0 10px;
	
}
.body ul li div.featured ul li:first-child{
	margin:0;
}
.body ul li div.featured ul li{
	float:left;
	margin:0 0 0 18px;
	background:none;
	padding:0;
}
.body ul li div.featured ul li a{
	padding:0;
}
.body ul li div.featured ul li a img{
	margin:0;
}
.body ul li div.featured ul li a img:hover{
	filter:alpha(opacity=80);
	opacity:0.8;
}
.body ul li div.featured a{
	clear:both;
	display:block;
	font-size:13px;
	font-family: 'RokkittRegular';
	text-decoration:none;
	color:#8a8889;
	font-weight:bold;
	padding:5px 0 0;
	width:auto;
	outline:none;
}
.body ul li div{
	float:left;
	margin:0 0 0 50px;
	width:609px;

}
.body ul li div h3{
	margin:0;
	font-size:20px;
	font-weight:bold;
	font-family: 'RokkittRegular';
	color:#f28220;
	line-height:22px;
}
.body ul li div p{
	line-height:22px;
	font-family: 'RokkittRegular';
	font-size:14px;
	color:#5D5D5D;
	padding:0 0 90px;
	margin:0;
}
.body ul.paging{
	margin:15px 0 10px 210px;
}
.body ul.paging li{
	float:left;
	padding:0 5px;
	background:none;
}
.body ul.paging li a{
	text-decoration:none;
	color:#ff7e0d;
	font-family: arial;
	font-size:12px;
}
.body ul.paging li a:hover{
	color:#5D5D5D;
}

/*------------------------- Footer ------------------------*/ 
.footer{
	width:940px;
	padding:20px 10px 20px;
	margin:0 auto;
	overflow:hidden;
}
.footer ul{
	list-style:none;
	margin:0 0 0 60px;
	padding:0;
	overflow:hidden;
	float:left;
}
.footer ul li:first-child a{
	border:none;
	padding:0 6px 0 0;
}
.footer ul li{
	float:left;
}
.footer ul li a:hover{
	color:#F78117;
}
.footer ul li a{
	border-width: 1px;
	border-color:#5b5b5b;
	border-style: none none none solid;
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	text-decoration:none;
	font-weight:bold;
	padding:0 6px;
	outline:none;
}
.footer p{
	color:#5b5b5b;
	font-size:10px;
	font-family: Trebuchet MS;
	font-weight:bold;
	float:left;
	margin:6px 0 0 135px;
}
.footer div.connect{
	float:left;
	margin:0 0 0 92px;
}
.footer div.connect a{
	float:left;
	outline:none;
}
.footer div.connect a#facebook{
	width:27px;
	height:28px;
	display:block;
	text-indent:-9999px;
}
.footer div.connect a#twitter{
	width:36px;
	height:28px;
	display:block;
	text-indent:-9999px;
	margin:0 0 0 68px;
}
.footer div.connect a#vimeo{
	width:32px;
	height:28px;
	display:block;
	text-indent:-9999px;
	
}
